{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
	<link href="{% static "barter/css/social/social.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="row">

	<div class="col-md-3 col-md-offset-2"> 
		<form method="post" action=".">
		  {{ form.non_field_errors |safe }}
			<div class="form-group{% if form.username.errors %} has-error{% endif %}">
			    {{ form.username.errors |safe }}
			    <label class="control-label" for="{{ form.username.id_for_label }}">{% trans 'Username' %}</label>
			    {{ form.username }}
			</div>
			<div class="form-group{% if form.password.errors %} has-error{% endif %}">
			    {{ form.password.errors |safe }}
			    <label class="control-label" for="{{ form.password.id_for_label }}">{% trans 'Password' %}</label>
			    {{ form.password }}
			</div>
		
			{% csrf_token %}
		
		  <input type="submit" class="btn btn-theme" value="{% trans 'Log in' %}" />
		  <input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
	
	<div class="col-md-7"> 
		<p>{% trans "Forgot password" %}? <a href="{% url 'password_reset' %}">{% trans "Reset it" %}</a>!</p>
		<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
		
		<ul class="soc">
			<li><a class="soc-twitter" href="{% url 'social:begin' backend='twitter' %}"></a></li>
			<li><a class="soc-facebook" href="{% url 'social:begin' backend='facebook' %}"></a></li>
			<li><a class="soc-instagram" href="{% url 'social:begin' backend='instagram' %}"></a></li>
			<li><a class="soc-vkontakte soc-icon-last" href="{% url 'social:begin' backend='vk-oauth2' %}"></a></li>
		</ul>	
	</div>

</div>

{% endblock %}
