{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
	{{ image_form.media }}
    <script type="text/javascript" src="{% static 'barter/js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block breadcrumb %}
	<li class="active">Profile</li>
{% endblock %}

{% block content %}
 
<div class="row">
	<div class="col-lg-12">
        <a href="{% url 'profile' %}" class="">{% trans "Profile" %}</a>
        <a href="{% url 'list_my_offers' %}" class="">{% trans "My Offers" %}</a>
        <a href="{% url 'list_my_responses' %}" class="">{% trans 'My Responses' %}</a>
	</div>
</div>
 
 <div class="row">
        <div class="col-xs-offset-3 col-xs-4 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-2">
        
        	{% if messages %}
			<div class="messages">
			    {% for message in messages %}
			    <p class="{% if message.tags %}{{ message.tags }}{% endif %} bg-warning text-danger text-center">{{ message }}<br/></p>
			    {% endfor %}
			</div>
			{% endif %}
        
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-4 col-md-3 text-center">
                        {{ image_form.image }}
                    </div>
                    <div class="col-sm-8 col-md-9">
                    	<form action="{% url 'save_profile' %}" method="POST">
                    		{% csrf_token %}
                    	
	                        <strong>{% trans 'Username' %}:</strong> {{ user.username }}
	                        <br />
	                    
	        				<div class="form-group{% if profile_form.email.errors %} has-error{% endif %}">
				    			{{ profile_form.email.errors |safe }}
				    			<label class="control-label" for="{{ profile_form.email.id_for_label }}">{% trans 'Email' %}</label>
				    			{{ profile_form.email }}
							</div>
	                    
	        				<div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
				    			{{ form.first_name.errors |safe }}
				    			<label class="control-label" for="{{ form.first_name.id_for_label }}">{% trans 'First Name' %}</label>
				    			{{ form.first_name }}
							</div>
	                    
	        				<div class="form-group{% if form.last_name.errors %} has-error{% endif %}">
				    			{{ form.last_name.errors |safe }}
				    			<label class="control-label" for="{{ form.last_name.id_for_label }}">{% trans 'Last Name' %}</label>
				    			{{ form.last_name }}
							</div>
	                        
	                        <div class="form-group{% if profile_form.city.errors %} has-error{% endif %}">
				    			{{ profile_form.city.errors |safe }}
				    			<label class="control-label" for="{{ profile_form.city.id_for_label }}">{% trans 'City' %}</label>
				    			{{ profile_form.city }}
							</div>
	                        						
							<div class="form-group{% if profile_form.phone.errors %} has-error{% endif %}">
				    			{{ profile_form.phone.errors |safe }}
				    			<label class="control-label" for="{{ profile_form.phone.id_for_label }}">{% trans 'Phone' %}</label>
				    			{{ profile_form.phone }}
							</div>
	                        
							<div class="form-group{% if profile_form.age.errors %} has-error{% endif %}">
				    			{{ profile_form.age.errors |safe }}
				    			<label class="control-label" for="{{ profile_form.age.id_for_label }}">{% trans 'Age' %}</label>
				    			{{ profile_form.age }}
							</div>
						
							<input type="hidden" name="redirect_url" value="{{ redirect_url }}"/>
						
							<button type="submit" class="btn btn-success">{% trans 'Save' %}</button>
						
        				</form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal" id="modal-photo">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p><img id="preview" style="width:100px"/></p>
        <button id="upload-button" type="button" class="btn btn-xs btn-success" onclick="ajaxSubmit()" style="display:none;">Upload</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
