{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block breadcrumb %}
	<li class="active">Profile</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <a href="{% url 'profile' %}" class="">{% trans "Profile" %}</a>
        <a href="{% url 'list_my_offers' %}" class="">{% trans "My Offers" %}</a>
        <a href="{% url 'list_my_responses' %}" class="">{% trans 'My Responses' %}</a>
    </div>
</div>

 <div class="row">
        <div class="col-xs-offset-3 col-xs-4 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-2">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-4 col-md-3 text-center">
                       	<p>
                       		<img style="width:100px" src="{{ profile.image|default:"/static/barter/img/avatar.png"}}"/>
                       	</p>	
                        <p>
                        	<a class='btn btn-primary' href="{% url 'edit_profile' %}"><i class="fa fa-cog"></i> {% trans 'Edit' %}</a>
                        </p>
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <p>
                            <strong>{% trans 'Username' %}:</strong> {{ user.username }}
                            <br />
                            <strong>{% trans 'Email' %}:</strong> {{ profile.email|default:user.email }}
                            <br />
                            <strong>{% trans 'First Name' %}:</strong> {{ user.first_name|default:"--" }}
                            <br />
                            <strong>{% trans 'Last Name' %}:</strong> {{ user.last_name|default:"--" }}
                            <br />
                            <strong>{% trans 'Age' %}:</strong> {{ profile.age|default:"--" }}
                            <br />
                            <strong>{% trans 'City' %}:</strong> {{ profile.city|default:"--" }}
                            <br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
