{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %} 
 
{% block content %}


<div class="row">
	<div class="col-lg-2">
	
	</div>
	
	<div class="col-lg-8">
	{% for category in categories %}
		<p><a href="{% url 'list_offers_by_category' category.alias %}">{{ category.name }}</a></p>
	{% endfor %}
	</div>
		

	<div class="col-lg-2">
	
	</div>
</div>


{% endblock %}

