{% extends "base.html" %}
{% load staticfiles %}
 {% load i18n %} 
 
{% block head %}
	{{ form.media }}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script type="text/javascript" src="{% static "barter/js/jquery.js" %}"></script>
	<script type="text/javascript" src="{% static 'offers/js/search-map.js' %}"></script>

	<link rel="stylesheet" href="{% static 'offers/css/map.css' %}"/>
{% endblock %}

{% block breadcrumb %}
	<li class="active">{% trans 'Offers' %}</li>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-9">
		<a href="{% url 'new_offer'%}" class="btn btn-success">{% trans 'New Offer' %}</a>
	</div>
	<div class="col-lg-3">
		{{ search_widget }}
	</div>
</div>

<div class="row">
	<div class="col-lg-3">
		
		<form>
			
			{% for category in categories %}
				<p>
					<input type="checkbox" 
					name="category_id"
					value="{{ category.category_id }}" 
					{% if category.category_id|stringformat:"i" in filters.category_ids %}checked="checked"{% endif %}/>
					{{ category.category__name }} ({{category.total}})
				</p>
			{% endfor %}
			
			<div id="filter-map">
			</div>

			<input type="hidden" id="filter-left-top" name="range"/>	
			<input type="hidden" id="filter-right-bottom" name="range"/>
			<input type="hidden" id="filter-zoom" name="range"/>
			<input type="hidden" name="term" value="{{filters.term}}"/>

			<button type="submit" class="btn btn-info">{% trans 'Search' %}</button>
			{% if category != None %}
				<a href="." class="btn btn-primary">{% trans 'Reset' %}</a>
			{% endif %}
		</form>

	</div>
	
	<div class="col-lg-9">
	
		<div class="row">
		{% if not offers %}
			<div class="col-lg-12">
			{% trans 'No results found' %}
			</div>
		{% endif %}	

		{% for offer in offers %}
			{% if forloop.counter0|divisibleby:4 %}
			</div><div class="row">
			{% endif %}
			
			
				<div class="col-lg-3">
					<div class="box{% if offer.user.id == current_user.id %} my{% endif %}">
						<div class="box-gray aligncenter">
							<h4>
								{% if offer.user.id == current_user.id %}
									Me
								{%else%}
									{{ offer.user.first_name|default:offer.user.username }} {{ offer.user.last_name }}
								{% endif %}
							</h4>
							<p class="icon">
								<img width="60px" src="{{ offer.user.profile.image|default:"/static/barter/img/avatar.png"}}"/>
							</p>
							<p class="">
								{{ offer.short }}
							</p>
							<p class="">
								I offer {{ offer.offer }}
							</p>
						</div>
						<div class="box-bottom">
							<a href="{% if offer.user.id != current_user.id %}
										{% url 'response_offer' offer.id %}
									{% else %}
										{% url 'view_offer' offer.id %}
									{% endif %}">
								{% trans 'More' %}
							</a>
						</div>
					</div>
				</div>
				
		{% endfor %}
		</div>
	</div>
</div>

<div class="row pagination">
    <span class="step-links">
        {% if offers.has_previous %}
            <a data-page="{{ offers.previous_page_number }}" class="pagination-link" href="javascript:void(0)">previous</a>
        {% endif %}

        <span class="current">
            Page {{ offers.number }} of {{ offers.paginator.num_pages }}.
        </span>

        {% if offers.has_next %}
            <a data-page="{{ offers.next_page_number }}" class="pagination-link" href="javascript:void(0)">next</a>
        {% endif %}
    </span>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		initializeMap('{{ filters.range.0 }}', '{{ filters.range.1 }}', '{{ filters.range.2 }}');
		
		 google.maps.event.addListener(map, 'idle', function(){
			{% for offer in offers %}
				addMarker('{{ offer.short }}', '{{ offer.lat }}', '{{ offer.lng }}');
			{% endfor %}
		 });

		 $('.pagination-link').on('click', function(){
		 	var qs = window.location.search;
	 		if(qs.indexOf('page=') != -1){
	 			qs = qs.replace(/&page=[0-9]+/, '');
	 			qs = qs.replace(/\?page=[0-9]+/, '');
	 		}
		 	if(qs){
		 		qs += '&page=' + $(this).attr('data-page');
		 	}else{
				qs += '?page=' + $(this).attr('data-page');
		 	}
		 	window.location.search = qs;
		 })
	});

</script>

{% endblock %}

