{% extends "base.html" %}
{% load staticfiles %}
 {% load i18n %} 
 
{% block head %}
	{{ form.media }}
{% endblock %}

{% block breadcrumb %}
	<li class="active">{% trans 'My Offers' %}</li>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-12">
        <a href="{% url 'profile' %}" class="">{% trans "Profile" %}</a>
        <a href="{% url 'list_my_offers' %}" class="">{% trans "My Offers" %}</a>
        <a href="{% url 'list_my_responses' %}" class="">{% trans 'My Responses' %}</a>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<a href="{% url 'new_offer'%}" class="btn btn-success">{% trans 'New Offer' %}</a>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<a href="{% url 'list_my_offers' %}" class="">{% trans 'All' %}</a>
        <a href="{% url 'list_my_waiting_offers' %}" class="">{% trans 'Waiting For Response' %}</a>
		<a href="{% url 'list_my_offers' 'pending' %}" class="">{% trans 'Pending' %}</a>
		<a href="{% url 'list_my_offers' 'active' %}" class="">{% trans 'Active' %}</a>
		<a href="{% url 'list_my_offers' 'accepted' %}" class="">{% trans 'Accepted' %}</a>
		<a href="{% url 'list_my_offers' 'completed' %}" class="">{% trans 'Completed' %}</a>
		<a href="{% url 'list_my_offers' 'cancelled' %}" class="">{% trans 'Cancelled' %}</a>
	</div>
</div>

<div class="row">


{% for offer in offers %}
	
	{% if forloop.counter0|divisibleby:4 %}
	</div><div class="row">
	{% endif %}
	
	
		<div class="col-lg-3">
			<div class="box">
				<div class="box-gray aligncenter">
					<h4>{% trans 'Me' %}</h4>
					<p class="icon">
						<img width="60px" src="{{ offer.user.profile.image|default:"/static/barter/img/avatar.png"}}"/>
					</p>
					<p class="">
						{{ offer.short }}
					</p>
					<p class="">
						I offer {{ offer.offer }}
					</p>
				</div>
				<div class="box-bottom">
					<a href="{% url 'view_offer' offer.id %}">
						{% trans 'More' %}
					</a>
				</div>
			</div>
		</div>
		
{% endfor %}
</div>

<div class="row pagination">
    <span class="step-links">
        {% if offers.has_previous %}
            <a href="?page={{ offers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ offers.number }} of {{ offers.paginator.num_pages }}.
        </span>

        {% if offers.has_next %}
            <a href="?page={{ offers.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}

