{% extends "base.html" %}
{% load staticfiles %}
 {% load i18n %} 
 
{% block head %}
	{{ form.media }}
{% endblock %}

{% block breadcrumb %}
	<li class="active">{% trans 'My Responses' %}</li>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-12">
        <a href="{% url 'profile' %}" class="">{% trans "Profile" %}</a>
        <a href="{% url 'list_my_offers' %}" class="">{% trans "My Offers" %}</a>
        <a href="{% url 'list_my_responses' %}" class="">{% trans 'My Responses' %}</a>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<a href="{% url 'new_offer'%}" class="btn btn-success">{% trans 'New Offer' %}</a>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<a href="{% url 'list_my_responses' %}" class="">{% trans 'All' %}</a>
		<a href="{% url 'list_my_responses' 'waiting' %}" class="">{% trans 'Waiting' %}</a>
		<a href="{% url 'list_my_responses' 'accepted' %}" class="">{% trans 'Accepted' %}</a>
		<a href="{% url 'list_my_responses' 'declined' %}" class="">{% trans 'Declined' %}</a>
	</div>
</div>

<div class="row">


{% for response in responses %}
	
	{% if forloop.counter0|divisibleby:4 %}
	</div><div class="row">
	{% endif %}
	
	
		<div class="col-lg-3">
			<div class="box">
				<div class="box-gray aligncenter">
					<h4>{{ response.offer.user.first_name|default:response.offer.user.username }} {{ response.offer.user.last_name }}</h4>
					<p class="icon">
						<img width="60px" src="{{ response.offer.user.profile.image|default:"/static/barter/img/avatar.png"}}"/>
					</p>
					<p class="">
						{{ response.offer.short }}
					</p>
					<p class="">
						I offer {{ response.offer.offer }}
					</p>
					<p class="">
						{% trans 'Your offer' %}: {{ response.reply }}
					</p>
				</div>
				<div class="box-bottom">
					<a href="{% url 'response_offer' response.offer_id %}">
						{% trans 'More' %}
					</a>
				</div>
			</div>
		</div>
		
{% endfor %}
</div>

<div class="row pagination">
    <span class="step-links">
        {% if responses.has_previous %}
            <a href="?page={{ responses.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ responses.number }} of {{ responses.paginator.num_pages }}.
        </span>

        {% if responses.has_next %}
            <a href="?page={{ responses.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}

