{% extends "base.html" %}
{% load staticfiles %}
 {% load i18n %} 
 
{% block head %}
	{{ form.media }}
{% endblock %}

{% block breadcrumb %}
	<li class="active">{% trans 'Offer' %}</li>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-4">
		<div class="box">
			<div class="aligncenter">
				<h4>{{ offer.user.first_name|default:offer.user.username }} {{ offer.user.last_name }}</h4>
				<p class="icon">
					<img width="60px" src="{{ offer.user.profile.image|default:"/static/barter/img/avatar.png"}}"/>
				</p>
				<p>{% trans 'City' %}: {{ offer.user.profile.city|default:"--" }}</p>
				<p>{% trans 'Age' %}: {{ offer.user.profile.age|default:"--" }}</p>
				<p>{% trans 'User Registred' %}: {{ offer.user.date_joined|default:"--" }}</p>
				<p>{% trans 'Last Login' %}: {{ offer.user.last_login|default:"--" }}</p>
				
				
			</div>
		</div>
	</div>
	
	<div class="col-lg-4">
		<div class="box">
			<div class="aligncenter">
				<h4>{% trans 'Offer' %}</h4>
				<p class="">
					{{ offer.short }}
				</p>
				<p class="">
					I offer {{ offer.offer }}
				</p>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4">
		<div class="box">
			<div class="aligncenter">
				{% if offer.user.id != current_user.id %}
					<h4>{% trans 'Your offer' %}</h4>
					{% if not response %}
					<form method="POST">
					
						<div class="form-group{% if form.reply.errors %} has-error{% endif %}">
							{{ form.reply.errors |safe }}
							<div class="col-sm-12">
								{{ form.reply }}
							</div>
						</div>
					
						{% csrf_token %}
						<button type="submit" class="btn btn-success">{% trans 'Response' %}</button>
					</form>
					{% else %}
					 <div class="row">
					 	<p><strong>{% trans 'Date Created' %}:</strong> {{ response.date }}</p>
					 	<p><strong>{% trans 'Status' %}:</strong> {{ response.get_status_display }}</p>
					 	<p><strong>{% trans 'Reply' %}:</strong> {{ response.reply|default:"--" }}</p>
						{% if response.status == 2 %}
							<a href="{% url 'postman_write' offer.user.username offer.short %}" class="btn btn-primary">{% trans 'Write' %}</a>
						{% endif %}
					 </div>
					
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
	
</div>


{% endblock %}

