{% extends "base.html" %}
{% load staticfiles %}
 {% load i18n %} 
 
{% block head %}
	{{ form.media }}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script type="text/javascript" src="{% static "barter/js/jquery.js" %}"></script>
	<script type="text/javascript" src="{% static 'offers/js/search-map.js' %}"></script>

	<link rel="stylesheet" href="{% static 'offers/css/map.css' %}"/>
{% endblock %}

{% block breadcrumb %}
	<li class="active">{% trans 'Offers' %}</li>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-12">
		<a href="{% url 'new_offer'%}" class="btn btn-success">{% trans 'New Offer' %}</a>
	</div>
</div>

<div class="row">
	<div class="col-lg-3">
	
		{% if category != None %}
			<p><a href="{% url 'list_offers' %}">{% trans 'Back' %}</a></p>
		{% endif %}
	
		<form>
			{% for category in categories %}
				<p><a href="{% url 'search_category_offers' category.category__alias %}?term={{ term }}">{{ category.category__name }} ({{ category.total }})</a></p>
			{% endfor %}
			<div id="filter-map">
			</div>

			<input type="hidden" id="filter-left-top" name="range"/>	
			<input type="hidden" id="filter-right-bottom" name="range"/>
			<input type="hidden" id="filter-zoom" name="range"/>

			<button type="submit" class="btn btn-info">{% trans 'Search' %}</button>

		</form>
	</div>
	
	<div class="col-lg-9">
	
		<div class="row">
		{% for offer in offers %}
			{% if forloop.counter0|divisibleby:4 %}
			</div><div class="row">
			{% endif %}
			
			
				<div class="col-lg-3">
					<div class="box{% if offer.user.id == current_user.id %} my{% endif %}">
						<div class="box-gray aligncenter">
							<h4>{{ offer.user.first_name|default:offer.user.username }} {{ offer.user.last_name }}</h4>
							<p class="icon">
								<img width="60px" src="{{ offer.user.profile.image|default:"/static/barter/img/avatar.png"}}"/>
							</p>
							<p class="">
								{{ offer.short }}
							</p>
							<p class="">
								I offer {{ offer.offer }}
							</p>
						</div>
						<div class="box-bottom">
							<a href="{% if offer.user.id != current_user.id %}
										{% url 'response_offer' offer.id %}
									{% else %}
										{% url 'view_offer' offer.id %}
									{% endif %}">
								{% trans 'More' %}
							</a>
						</div>
					</div>
				</div>
				
		{% endfor %}
		</div>
	</div>
</div>

<div class="row pagination">
    <span class="step-links">
        {% if offers.has_previous %}
            <a href="?page={{ offers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ offers.number }} of {{ offers.paginator.num_pages }}.
        </span>

        {% if offers.has_next %}
            <a href="?page={{ offers.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		initializeMap('{{ range.0 }}', '{{ range.1 }}', '{{ range.2 }}');
		
		 google.maps.event.addListener(map, 'idle', function(){
			{% for offer in offers %}
				addMarker('{{ offer.short }}', '{{ offer.lat }}', '{{ offer.lng }}');
			{% endfor %}
		 });
	});

</script>

{% endblock %}

