{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %} 

{% block head %}
	{{ form.media }}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script type="text/javascript" src="{% static "barter/js/jquery.js" %}"></script>
	<script type="text/javascript" src="{% static "barter/js/input-file-button.js" %}"></script>
	<script type="text/javascript" src="{% static 'barter/js/jquery.validate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'barter/js/additional-methods.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'barter/js/form-helpers.js' %}"></script>
	<script type="text/javascript" src="{% static 'offers/js/map.js' %}"></script>
	
	<link rel="stylesheet" href="{% static 'offers/css/map.css' %}"/>
{% endblock %}

{% block breadcrumb %}
	<li class="active">New Offer</li>
{% endblock %}

{% block content %}

<div class="row">

		
	<div class="col-md-6">
		<div id="map-canvas"></div>
	</div>

	<div class="col-md-6">			
		<form action="{% url 'new_offer' %}" method="POST" class="form-horizontal" id="offer-form" enctype="multipart/form-data">
	
			{% csrf_token %}
						
			{{ form.lat }}
			{{ form.lng }}
			
			<div class="form-group{% if form.category.errors %} has-error{% endif %}">
				{{ form.category.errors |safe }}
				<div class="col-sm-12">
					<select id="id_category" name="category">
						{% for item in categories %}
						<optgroup label="{{ item.key }}">
							{% for child in item.children %}
								<option value="{{ child.value.id }}"{% if form.category.value|add:"0" == child.value.id|add:"0" %} selected="selected"{% endif %}>
									{{ child.key }}
								</option>
							{% endfor %}
						</optgroup>
						{% endfor %}
					</select>
				</div>
			</div>
				
			<div class="form-group{% if form.short.errors %} has-error{% endif %}">
				{{ form.short.errors |safe }}
				<div class="col-sm-12">
					{{ form.short }}
				</div>
			</div>
			
			<div class="form-group{% if form.offer.errors %} has-error{% endif %}">
				{{ form.offer.errors |safe }}
				<div class="col-sm-12">
					{{ form.offer }}
				</div>
			</div>
		
			{{ file_formset.management_form }}
			{% for file_form in file_formset.forms %}
			<div class="form-group item">
				<div class="col-sm-12">
					<div class="input-group">
		                <span class="input-group-btn">
		                    <span class="btn btn-primary btn-file">
		                        Browse… {{ file_form.file }}
		                    </span>
		                </span>
		                <input type="text" class="form-control file-control" readonly="">
		            </div>
		           <a href="javascript:void(0)" class="delete">Delete</a>
				</div>
			</div>
		
			{% endfor %}
			
			<div class="form-group">
				<div class="col-sm-12">
					<a href="javascript:void(0)" class="add-new">+ Add New</a>
				</div>
			</div>
			
		
			<div class="row text-center">
				<button type="submit" class="btn btn-success large">Save</button>	
				<button type="reset" class="btn btn-warning large">Reset</button>
				<a href="{% url 'profile' %}" class="btn btn-danger large">Cancel</a>		
			</div>
		</form>	
	</div>	
</div>

<script type="text/javascript">

initFormsetButtons('attachment_set');
initializeMap(true);

$( "#offer-form" ).validate({
  rules: {
    short: {
      required: true,
    },
    offer: {
      required: true,
    },
    
  }
});

$( 'input[type=file]' ).rules( "add", {
  extension: "jpg|jpeg|gif|png"
});

</script>


{% endblock %}
