{% extends "base.html" %}
{% load staticfiles %}
 {% load i18n %} 
 
{% block head %}
	{{ form.media }}
	
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script src="{% static 'barter/js/jquery.js' %}"></script>
	<script src="{% static 'barter/js/freewall.js' %}"></script>
	<script src="{% static 'barter/js/lightbox/lightbox.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'offers/js/map.js' %}"></script>
	
	<link href="{% static 'barter/css/lightbox.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="{% static 'offers/css/map.css' %}"/>
	
{% endblock %}

{% block breadcrumb %}
	<li class="active">{% trans 'Offer' %}</li>
{% endblock %}

{% block content %}

<div class="row text-center">
	<div class="col-lg-12">
		{% if update_hours_delta <= 0 %}
			<form action="{% url 'up_offer' offer.id %}" method="POST">
				{% csrf_token %}
				
				<button type="submit" class="btn btn-warning">{% trans 'Up' %}</button>			
			</form>
		{% else %}
			{% trans 'Offer can be updated after' %} {{ update_hours_delta }} {% trans 'hours' %}
		{% endif %}
		
		
		{% if offer.status == 1 %}
		<form action='{% url 'cancel_offer' offer.id %}'>
			<button type="submit" class="btn btn-danger">{% trans 'Cancel' %}</button>	
		</form>
		{% endif %}
		
		{% if offer.status == 4 %}
		<form action='{% url 'restore_offer' offer.id %}'>
			<button type="submit" class="btn btn-success">{% trans 'Restore' %}</button>	
		</form>
		{% endif %}
		
	</div>
</div>

<div class="row">	
	<div class="col-lg-4">
		<div class="box">
			<div class="aligncenter">
				<a href="{% url 'edit_offer' offer.id %}">{% trans 'Edit' %}</a>
			
				<h4>{% trans 'Offer' %}</h4>
				<p class="">
					{{ offer.short }}
				</p>
				<p class="">
					I offer {{ offer.offer }}
				</p>
				
			</div>
		</div>
	</div>
	
	<div class="col-lg-8">
		<div id="map-canvas"></div>
	</div>
</div>

{% if attachments.count > 0 %}
<div class="row text-center">	
	<div class="col-lg-12">
		<h3>Portfolio</h3>
		<div id="portfolio">
		{% for attachment in attachments %}
			<a class="item thumb-portfolio" data-lightbox="portfolio" href="{{ MEDIA_URL }}{{ attachment.file }}">
				<img class="thumb-portfolio" src="{{ MEDIA_URL }}{{ attachment.file }}"/>
			</a>
		{% endfor %}
		</div>
	</div>	
</div>
{% endif %}


<div class="row">
	<div class="col-lg-12 aligncenter">
		<h4>{% trans 'Offer Responses' %}</h4>
		
		<div class="row">
			<form>
				{% trans "Status" %}:
				<select name="status">
					<option	value="0"{% if filters.status|add:"0" == 0 %} selected="selected"{% endif %}>{% trans 'All' %}</all>
				{% for key, status in statuses %}
					<option value="{{ key }}"{% if filters.status|add:"0" == key|add:"0" %} selected="selected"{% endif %}>{{ status }}</option>
				{% endfor %}
				</select>
				<button type="submit" class="btn btn-info">{% trans 'Apply' %}</button>
			</form>	
		<div>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>{% trans 'User' %}</th>
					<th>{% trans 'Offer Response' %}</th>
					<th>{% trans 'Status' %}</th>
					<th>{% trans 'Date' %}</th>
					<th>{% trans 'Actions' %}</th>
				</tr>
			</thead>
			<tbody>
			{% for response in responses %}
				<tr class="{{ response.get_status_display|lower}}">
					<td>
						<div class="row">
							<div class="col-md-3">
								<p><strong>{{ response.user.first_name|default:offer.user.username }} {{ response.user.last_name }}</strong></p>
								<p><img width="100px" src="{{ response.user.profile.image|default:"/static/barter/img/avatar.png"}}"/></p>
							</div>
							<div class="col-md-9 text-left">
								<p>{% trans 'City' %}: {{ response.user.profile.city|default:"--" }}</p>
								<p>{% trans 'Age' %}: {{ response.user.profile.age|default:"--" }}</p>
								<p>{% trans 'User Registred' %}: {{ response.user.date_joined|default:"--" }}</p>
								<p>{% trans 'Last Login' %}: {{ response.user.last_login|default:"--" }}</p>
							</div>
						</div>
					</td>
					<td>
						{{ response.reply|default:"--" }}
					</td>			
					<td>
						{{ response.get_status_display }}
					</td>		
					<td>
						{{ response.date }}
					</td>
					<td>
						{% if response.status == 1 %}
						<form action="{% url 'accept_offer' offer.id response.id %}" method="POST">
							{% csrf_token %}
							<button type="submit" class="btn btn-success">{% trans 'Accept' %}</button>
						</form>
						
						<form action="{% url 'decline_offer' offer.id response.id %}" method="POST">
							{% csrf_token %}
							<button type="submit" class="btn btn-danger">{% trans 'Decline' %}</button>
						</form>	
						{% endif %}
						
						{% if response.status == 2 %}
							<a href="{% url 'postman_write' response.user.username offer.short %}" class="btn btn-primary">{% trans 'Write' %}</a>
						{% endif %}
					</td>
					
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>


<div class="row pagination">
    <span class="step-links">
        {% if responses.has_previous %}
            <a href="?page={{ offers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ responses.number }} of {{ responses.paginator.num_pages }}.
        </span>

        {% if responses.has_next %}
            <a href="?page={{ responses.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<script type="text/javascript">
$(function() {
  initializeMap(false, parseFloat("{{ offer.lat }}".replace(",", ".")), parseFloat("{{ offer.lng }}".replace(",", ".")))
  var wall = new freewall("#portfolio");
  wall.fitWidth();
});
</script>

{% endblock %}

