{% for offer in offers %}
	{% if forloop.counter0|divisibleby:4 %}
	</div><div class="row">
	{% endif %}
	
	
		<div class="col-lg-3">
			<div class="box{% if offer.user.id == current_user.id %} my{% endif %}">
				<div class="box-gray aligncenter">
					<h4>{{ offer.user.first_name|default:offer.user.username }} {{ offer.user.last_name }}</h4>
					<p class="icon">
						<img width="60px" src="{{ offer.user.profile.image|default:"/static/barter/img/avatar.png"}}"/>
					</p>
					<p class="">
						{{ offer.short }}
					</p>
					<p class="">
						I offer {{ offer.offer }}
					</p>
				</div>
				<div class="box-bottom">
					<a href="{% if offer.user.id != current_user.id %}
								{% url 'response_offer' offer.id %}
							{% else %}
								{% url 'view_offer' offer.id %}
							{% endif %}">
						{% trans 'More' %}
					</a>
				</div>
			</div>
		</div>
		
{% endfor %}