{% load i18n %}
{% load staticfiles %}
{% load postman_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <!-- css -->
	<link href="{% static "barter/css/bootstrap.min.css" %}" rel="stylesheet" />
	<link href="{% static "barter/css/fancybox/jquery.fancybox.css" %}" rel="stylesheet">
	<link href="{% static "barter/css/flexslider.css" %}" rel="stylesheet" />
	<link href="{% static "barter/css/style.css" %}" rel="stylesheet" />


	<!-- Theme skin -->
	<link href="{% static "barter/skins/default.css" %}" rel="stylesheet" />
	
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{% block title %}User test{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
	<div id="wrapper">
		<!-- start header -->
		<header>
		{% block header %}
	        <div class="navbar navbar-default navbar-static-top">
	            <div class="container">
	                <div class="navbar-header">
	                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </button>
	                    <a class="navbar-brand" href="/"><span>B</span>arter.by</a>
	                </div>
	                <div class="navbar-collapse collapse ">
	                    <ul class="nav navbar-nav">
	                    	{% if user.is_authenticated %}
	                    		{% if offers_notifications_count %}
		                    		<li>
										<a href="{% url 'list_my_waiting_offers' %}">{% trans 'My Offers' %} ({{ offers_notifications_count }})</a>
									</li>
	                    		{% endif %}
	                    		{% if responses_notifications_count %}
		                    		<li>
										<a href="{% url 'list_my_responses' 'waiting' %}">{% trans 'My Responses' %} ({{ responses_notifications_count }})</a>
									</li>
	                    		{% endif %}
								<li>
									{% postman_unread as unread_count %}
									<a href="{% url 'postman_inbox' %}">{% trans 'Messages' %} ({{ unread_count }})</a>
								</li>
								<li>
									<a href="{% url 'profile' %}">{% trans "Profile" %}</a>
								</li>
								<li>
									<a href="{% url 'logout' %}">{% trans "Log out" %}</a>
								<li>
								
							{% else %}
								<li><a href="{% url 'login' %}">{% trans "Log in" %}</a><li>
							{% endif %}
	                    </ul>
	                </div>
	            </div>
	        </div>
	    {% endblock %}
		</header>

		<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="breadcrumb">
							<li><a href="/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
							{% block breadcrumb %}{% endblock %}
						</ul>
					</div>
				</div>
			</div>
		</section>
			
		<section id="content">
			<div class="container">
		        {% block content %}{% endblock %}
		    </div>    
		</section>
  
	     <footer>
		 {% block footer %}
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="widget">
							<h5 class="widgetheading">Get in touch with us</h5>
							<address>
							<strong>Moderna company Inc</strong><br>
							 Modernbuilding suite V124, AB 01<br>
							 Someplace 16425 Earth </address>
							<p>
								<i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891 <br>
								<i class="icon-envelope-alt"></i> email@domainname.com
							</p>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="widget">
							<h5 class="widgetheading">Pages</h5>
							<ul class="link-list">
								<li><a href="#">Press release</a></li>
								<li><a href="#">Terms and conditions</a></li>
								<li><a href="#">Privacy policy</a></li>
								<li><a href="#">Career center</a></li>
								<li><a href="#">Contact us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="widget">
							<h5 class="widgetheading">Latest posts</h5>
							<ul class="link-list">
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
								<li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
								<li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="widget">
							<h5 class="widgetheading">Flickr photostream</h5>
							<div class="flickr_badge">
								<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
							</div>
							<div class="clear">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="sub-footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="copyright">
								<p>
									<span>&copy; Moderna 2014 All right reserved. By </span><a href="http://bootstraptaste.com" target="_blank">Bootstraptaste</a>
								</p>
							</div>
						</div>
						<div class="col-lg-6">
							<ul class="social-network">
								<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
								<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
		</footer>
	</div>
</body>

</html>
